body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      background-image: url("a1.jpg");
      background-repeat:no-repeat ;
      background-attachment:fixed;
      background-size: cover;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

  h1 {
      color: white;
      font-size: 30px;
  }

  h4 {
      font-size: 24px;
      line-height: 1.375em;
      color: white;
      font-weight: 400;
      margin-bottom: 30px;
}

h2{
  font-size: 33px;

}

h3{
  font-size: 21px;
  color: white;
}

p {
  color: #fff;
  text-align: center;
  line-height: 150%;
  letter-spacing: 2px;
}

.container-fluid {
      padding: 30px 10px;
  }

  
/*Nav Bar*/

.nav_section .nav-brand{
    font-size: 22px
}

.nav_section .nav-brand span {
    color: var(--pink-color)

}

.nav_section .navbar-nav li {
    margin: 0px 5px 
}

.nav_section .navbar-nav li a {
    color: white !important;
    font-size: 15px
}

.nav_section .navbar-nav .nav-link::before {
    content: "" ;
    width:0px;
    height: 0px;
    background-color: white;
    position: absolute;
    bottom: 7px;
    transition: .5s;
}
.nav_section .navbar-nav .nav-link:hover::before {
    content: "";
    height: 2px;
    width: 25px;
    background-color: white;
    position: absolute;
    bottom: 7px;
}

.button {
        display: inline-block;
        background-color: #ff7096;
        border-radius: 100px;
        border: 7px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 18px;
        padding: 6px;
        width: 195px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      .button:hover {
        background-color: #90e0ef;
      }
      .button:hover{
        color: black;
}

/*Footer*/

.footer-basic { 
  padding:15px 0;
  background-color:#E8AA42;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:22px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:black;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:20;
  font-weight: bold;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:15px;
}

.footer-basic .social > a {
  font-size:40px;
  width:50px;
  height:50px;
  line-height:50px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid black;
  margin:0 8px;
  color:black;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;

}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:17px;
  color:black;
  margin-bottom:0;
}

/*image*/

.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 1000%;
}

.mid {
    width: 150;
    height: 1500;
    border-radius: 30%;
    border: 5px solid #48cae4;
}

/*scroll to top*/

.scrollToTopBtn {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 28px;
  line-height: 48px;
  width: 48px;
  border-radius: 500px;
  position: fixed;
  bottom: 21px;
  right: 20px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}


/*Experience Card*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.body_22{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_22 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 30px 0;
}

.container_22 .card_22 {
  position: relative;
  min-width: 350px;
  height: 480px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 18px;
  transition: 0.5s;
}

 .container_22 .card_22:nth-child(1) .box_22 .content_22 a {
  background: #e85d04;
}

.container_22 .card_22:nth-child(2) .box_22 .content_22 a {
  background: #e85d04;
}

.container_22 .card_22:nth-child(3) .box_22 .content_22 a {
  background: #e85d04;
}

 .container_22 .card_22 .box_22 {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.container_22 .card_22 .box_22:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.container_22 .card_22 .box_22 .content_22 {
  padding: 20px;
  text-align: center;
}

.container_22 .card_22 .box_22 .content_22 h2 {
  position: absolute;
  top: -1px;
  right: 10px;
  font-size: 2.5rem;
  color: rgba(255, 255, 255,0.7);
}

.container_22 .card_22 .box_22 .content_22 h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.container_22 .card_22 .box_22 .content_22 p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.container_22 .card_22 .box_22 .content_22 a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  margin-top: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.container_22 .card_22 .box_22 .content_22 a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
  font-size: 18px;
}

.resume {
  color: #DA946D;
  text-align: left;
  padding: 1rem;
  text-decoration: none;
  font: 20px "open sans", sans serif;
}

.resume:hover {
  color: #da7740;
}

#more {display: none;}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;
  
}

.outline:hover{
  transform: scale(1.125);
  color: #98fb98;
  border-color: #98fb98;
  transition: all .3s ease;  
}


  .h11{
    font-size: 25px;
  }

/*Contact*/

form .form-control.thick {
   margin-left: 4rem;
   width: 20rem;
 }
 form .form-control-lg{
    margin-left: 4rem;
   width: 20rem;
 }
  .btn.btn-primary{
    margin-left: 2.5rem;
  }
}

/* Contact Form */

svg {
   height: 23rem;
   margin-left: 4rem;
}
 #envelope {
   animation: float 2s ease-in-out infinite;
}
 #star1, #star2, #star3, #star4, #star5, #star6 {
   animation: blink 1s ease-in-out infinite;
}
 #star2 {
   animation-delay: 100ms;
}
 #star3 {
   animation-delay: 500ms;
}
 #star4 {
   animation-delay: 700ms;
}
 #star5 {
   animation-delay: 300ms;
}
 #star6 {
   animation-delay: 200ms;
}
 @keyframes float {
   0% {
     transform: translateY(0px);
  }
   50% {
     transform: translateY(-20px);
  }
   100% {
     transform: translateY(0px);
  }
}
 @keyframes blink {
   0% {
     opacity: 0;
  }
   50% {
     opacity: 0.5;
  }
   100% {
     opacity: 1;
  }
}

form {
   min-width: 25rem;
}
 form .title {
   font-family: Lato, sans-serif;
   color: #212529;
   font-size: 2.5rem;
}
 form .form-control {
   background-color: #f2f6f8;
   border-radius: 2rem;
   border: none;
   box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}
 form .form-control.thick {
   height: 3.3rem;
   padding: 0.5rem 3.5rem;
}
 form .form-control:focus {
   background-color: #f2f6f8;
   border: none;
   box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}
 form .message .form-control {
   padding: 0.5rem 1.8rem;
}
 form ::placeholder {
   font-family: 'Quicksand', sans-serif;
   font-weight: 600;
   font-size: 1.1rem;
   color: #838788;
   position: relative;
   left: 0;
}
 form input, form textarea {
   font-family: 'Quicksand', sans-serif;
   color: #212529;
   font-size: 1.1rem;
}
 form .icon {
   color: #57565c;
   height: 1.3rem;
   position: absolute;
   left: 1.5rem;
   top: 1.1rem;
}
 .button1 {
   font-family: 'Lato', sans-serif;
   font-weight: bold;
   color: black;
   font-size: 15px;
   height: 2.5rem;
   line-height: 2.5rem;
   padding: 0 3rem;
   border: 0;
   border-radius: 3rem;
   background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
   background-size: 300% 100%;
   transition: all 0.3s ease-in-out;
}
 .button1:hover:enabled {
   box-shadow: 0 0.5em 0.5em -0.4em #ff923c ba;
   background-size: 100% 100%;
   transform: translateY(-0.15em);
}

 .btn.btn-primary {
   font-family: 'Lato', sans-serif;
   font-weight: bold;
   color: black;
   font-size: 13px;
   height: 2.5rem;
   line-height: 2.5rem;
   padding: 0 3rem;
   border: 0;
   border-radius: 3rem;
   background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
   background-size: 300% 100%;
   transition: all 0.3s ease-in-out;
}
 .btn.btn-primary:hover:enabled {
   box-shadow: 0 0.5em 0.5em -0.4em #ff923c ba;
   background-size: 100% 100%;
   transform: translateY(-0.15em);
}

/*Project*/ 

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: black;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_title{
  text-decoration: none;
  color: black;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .abb{
  text-decoration: none;
  color: black;
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 25px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
   .ag-courses_box {
    display: grid;
  }
    .ag-format-container {
    width: 96%;
  }
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.ag-courses-item_title1 {
  min-height: 40px;
  margin: 0 0 25px;
  overflow: hidden;
  font-size: 15px;
  color: #FFF;
  z-index: 2;
  position: relative;
}

.h33: hover{
  color: black;
}

.text-box {
            background-color: #8A2BE2; 
            color: white; 
            padding: 10px; 
            margin: 10px; 
            border-radius: 5px; 
            display: inline-block; 
        }

#refreshLink:hover {
        cursor: pointer;
    }

@media (max-width: 767px) {
    form {
        min-width: auto; 
        text-align: center; 
    }
    form .title {
        font-size: 2rem; 
    }
    form .form-control {
        margin: 0 auto; 
        max-width: 80%; 
    }
    form .form-control.thick {
        height: auto;
        padding: 0.5rem 1.8rem; 
    }
    form .message .form-control {
        padding: 0.5rem 1.8rem; 
    }
    form .icon {
        left: 0.5rem; 
        top: 50%; 
        transform: translateY(-50%); 
    }
    .btn.btn-primary {
        font-size: 12px; 
        padding: 0 2rem; 
    }
}

@media (max-width: 767px) {
  .abb {
    text-align: center; 
  }

  #formEmail {
    display: block; 
    margin: 0 auto; 
  }
  #formName {
    display: block; 
    margin: 0 auto;
  }
}

.ih {
  opacity: 0;
  transition: 0.3s;
}

/*Extra-Curricular*/

.unique-card-1 {
            width: 320px;
            height: 150px;
            background-color: white;
            border: 3.5px solid  #FFA500;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
        }
        .unique-card-1:nth-child(1) {
            background-color: #FFDAB9;
        }
        
        .unique-card-2 {
            width: 320px;
            height: 150px;
            background-color: white;
            border: 3.5px solid  #FFA500;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
        }
        .unique-card-2:nth-child(2) {
            background-color: #FFDAB9;
          }

.ec1 {
        display: flex;
        justify-content: center;
        align-items: center; 
    }

.unique-card-content-2 {
        margin-top: 10px;
        text-align: center;
    }

    .unique-card-content-2 .custom-h3 {
        font-size: 25px;
        color: black;
        margin: 0 0 5px;
    }


    .unique-card-content-2 .custom-p {
        font-size: 14px;
        color: black;
    }

    .unique-card-content-2 .small-line {
        width: 100px;
        height: 2px;
        background-color: red;
        margin: 5px auto;
    }

@media (max-width: 768px) { 
        .ec1 {
            flex-direction: column; 
        }
    }

.ed11 {
  display: flex; /* Use flexbox to center the cards */
  justify-content: center; /* Add space between the cards */
  align-items: center; /* Center the cards vertically */
}

.ed11 .blog_post {
  width: 30%; /* Adjust the width to make the cards smaller */
  background: #fff;
  border-radius: 30px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 10px; /* Add margin to create space between the cards */
}

/* Adjust the rest of the styles as needed */
.ed11 .img_pod {
  height: 80px; /* Adjust the size of the image pod */
  width: 80px;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  z-index: 10;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  left: -10%;
  top: -13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ed11 img {
  height: 6rem; 
  width: 6rem;
  position: relative;
  border-radius: 100%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.ed11 h3 {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.4rem; 
}

.ed11 h1 {
  margin: 0 0 0.5rem 0; 
  font-size: 1.5rem; 
  letter-spacing: 0.5px;
  color: #333;
}

.ed11 p {
  margin: 0 0 2rem 0; /* Adjust margin */
  font-size: 1rem; /* Reduced font size */
  line-height: 1.3;
  color: #333;
}

.ed11 .btn_primary {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 1rem 1.5rem; /* Adjust padding */
  border-radius: 50px;
  color: white;
  font-size: 0.9rem; /* Reduced font size */
  box-shadow: 1px 5px 1rem rgba(255, 94, 98, 0.5); /* Adjusted box-shadow */
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.ed11 .btn_primary:hover {
  box-shadow: 0px 3px 0.5rem rgba(255, 94, 98, 0.5); 
}

.ed11 .blog_post {
  margin: 2.5rem; 
}

@media (max-width: 768px) {
  .ed11 {
    flex-direction: column; 
    align-items: center; 
  }

  .ed11 .blog_post {
    width: 90%; 
    margin: 10px 0; 
  }

  .ed11 .img_pod {
    display: none; 
  }
}